<header class="navbar navbar-default header-v2 navbar-fixed-top">
            <div class="container">
                <div class="navbar-header scroll-to">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">ClearCareer</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">

                    <ul class="nav scroll-to navbar-nav navbar-right"> 
                        {% if page.url == '/home.html' %}
                            <li class="active"><a href="/">Home</a></li>
                        {% else %}
                            <li><a href="/">Home</a></li>
                        {% endif %}
                        {% if page.url == '/builder.html' %}
                            <li class="active"><a href="/builder">Resume Builder</a></li> 
                        {% else %}
                            <li><a href="/builder">Resume Builder</a></li>
                        {% endif %}
                    </ul> 
                    <!-- <ul class="nav navbar-nav navbar-right socials">
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                    </ul>  -->
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </header><!--navigation end here-->